<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head lang="en" th:replace="fragments/header :: header"> </head>

  <body>
    <div th:replace="fragments/topbar :: topbar"></div>
    <div class="wrapper">
      <div th:replace="fragments/navbar :: navbar"></div>

      <!-- Begin Page Content -->
      <div class="container-fluid mx-3">
        <!-- Page Heading -->
        <div
          class="d-sm-flex align-items-center justify-content-between mb-4"
          sec:authorize="isAuthenticated()"
        >
          <h1>Hai <b>[[${#request.userPrincipal.principal.fullName}]]</b></h1>
        </div>

        <div class="d-flex justify-content-between mb-4">
          <div class="page-title">Product List Page</div>
          <a
            th:href="@{/new-product}"
            id="addProduct"
            class="btn btn-primary center align-self-start"
            title="Add New Product"
            >Add New Product</a
          >
        </div>

        <table id="myTable" class="display" style="width: 100%">
          <thead>
            <tr>
              <th></th>
              <th>Product Name</th>
              <th>Product No</th>
              <th>Category</th>
              <th>Stock</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="product : ${listProducts}">
              <td></td>
              <td th:text="${product.productName}"></td>
              <td th:text="${product.productNo}"></td>
              <td th:text="${product.category.categoryName}"></td>
              <td th:text="${product.productStock}"></td>
              <td th:inline="text">$ [[${product.productPrice}]]</td>
              <td>
                <button type="button" class="btn btn-success" title="View">
                  View
                </button>
                <a
                  th:href="@{/edit-product/{id}(id=${product.id})}"
                  type="button"
                  class="btn btn-primary"
                  title="Edit"
                  >Edit</a
                >
                <a
                  th:href="@{/delete-product/{id}(id=${product.id})}"
                  class="btn btn-danger"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Delete"
                  ><i class="fa fa-trash"></i
                ></a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th>Product Name</th>
              <th>Product No</th>
              <th>Category</th>
              <th>Stock</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div lang="en" th:replace="fragments/footer :: footer"></div>
  </body>
</html>
