<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Product Management System</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <h2>Add Product</h2>

      <form
        action="#"
        th:action="@{/saveProduct}"
        th:object="${product}"
        method="POST"
      >
        <input
          type="text"
          th:field="*{productName}"
          required
          placeholder="Product Name"
          class="form-control mb-4 col-4"
        />

        <select
          th:field="*{category}"
          required
          placeholder="Product Category"
          class="form-control mb-4 col-4"
        >
          <option value="" hidden>Select a category</option>
          <option
            th:each="category : ${listCategory}"
            th:value="${category.Id}"
            th:text="${category.categoryName}"
          ></option>
        </select>

        <input
          type="text"
          th:field="*{productNo}"
          required
          placeholder="Product No"
          class="form-control mb-4 col-4"
        />

        <input
          type="number"
          th:field="*{productStock}"
          required
          placeholder="Product Stock"
          class="form-control mb-4 col-4"
        />

        <input
          type="number"
          th:field="*{productPrice}"
          required
          placeholder="Product Price"
          class="form-control mb-4 col-4"
        />

        <button type="submit" class="btn btn-info col-2">Save Product</button>
      </form>

      <hr />

      <a th:href="@{/product}"> Back to Product List</a>
    </div>
  </body>
</html>
