<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head lang="en" th:replace="fragments/header :: header"> </head>

  <body>
    <div class="container-empt">
      <div class="container-form">
        <h2 class="mb-3">Add User</h2>

        <form
          action="#"
          th:action="@{/saveUser}"
          th:object="${user}"
          method="POST"
        >
          <input
            type="text"
            th:field="*{fullName}"
            required
            placeholder="User Full Name"
            class="form-control mb-4"
          />

          <input
            type="text"
            th:field="*{userName}"
            required
            placeholder="User Name"
            class="form-control mb-4"
          />

          <input
            type="text"
            th:field="*{email}"
            required
            placeholder="User Email"
            class="form-control mb-4"
          />

          <input
            type="password"
            th:field="*{password}"
            required
            placeholder="User Password"
            class="form-control mb-4"
          />

          <button type="submit" class="btn btn-info col-4">Save User</button>
        </form>

        <hr />

        <a th:href="@{/user}"> Back to User List</a>
      </div>
    </div>
  </body>
</html>
