<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head lang="en" th:replace="fragments/header :: header"> </head>

  <body>
    <div th:replace="fragments/topbar :: topbar"></div>
    <div class="wrapper">
      <div th:replace="fragments/navbar :: navbar"></div>

      <!-- Begin Page Content -->
      <div class="container-fluid mx-3">
        <!-- Page Heading -->
        <div class="container">
          <h4>Detail Product</h4>
          <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">User Full Name</th>
                <td th:text="${user.fullName}"></td>
              </tr>
              <tr>
                <th scope="row">User Name</th>
                <td th:text="${user.userName}"></td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td th:text="${user.email}"></td>
              </tr>
            </tbody>
          </table>
          <a th:href="@{/user}" class="btn btn-primary">Back</a>
        </div>
      </div>
    </div>
    <div lang="en" th:replace="fragments/footer :: footer"></div>
  </body>
</html>
