<!-- Sidebar -->
<ul
  class="navbar-nav sidebar sidebar-dark accordion"
  id="accordionSidebar"
  style="background-color: #232e98"
  th:fragment="navbar"
>
  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fa-solid fa-house"></i>
      <span>Home</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Interface</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" th:href="@{/product}">
      <i class="fa-solid fa-box-archive"></i>
      <span>Product</span>
    </a>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fa-solid fa-clipboard-list"></i>
      <span>Product Category</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">User Management</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link collapsed" th:href="@{/user}">
      <i class="fa-solid fa-users"></i>
      <span>User</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span>Logout</span></a
    >
  </li>
</ul>
<!-- End of Sidebar -->
