@charset "ISO-8859-1";
html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
}

.wrapper2 {
  display: flex;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #232e98;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

.page-title {
  font-size: 36px;
  font-weight: 500;
}

.weather {
  color: white;
  font-size: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.weather .location {
  align-self: center;
}

.weather .weatherStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav.navbar,
ul.navbar-nav {
  background-color: #004687 !important;
}

.container-empt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  margin-top: 5rem;
}

.container-form form input {
  min-width: 25rem;
}
