<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head lang="en" th:replace="fragments/header :: header"> </head>

  <body>
    <div class="container-empt">
      <div class="container-form">
        <h2 class="mb-3">Edit Product Category</h2>

        <form
          action="#"
          th:action="@{/category/saveCategory}"
          th:object="${productCategory}"
          method="POST"
        >
          <!-- Add hidden form field to handle update -->
          <input type="hidden" th:field="*{id}" />

          <input
            id="category-name"
            type="text"
            th:field="*{categoryName}"
            placeholder="Category Name"
            class="form-control mb-4"
          />

          <textarea
            rows="4"
            cols="50"
            name="description"
            th:field="*{description}"
            placeholder="Category Description"
            class="form-control mb-4"
          ></textarea>

          <button type="submit" class="btn btn-info col-2">Submit</button>
        </form>

        <hr />

        <a th:href="@{/category}"> Back to Category List</a>
      </div>
    </div>
  </body>
</html>
