<!DOCTYPE html>
<html lang="en">
  <head lang="en" th:replace="/market/fragments/header :: header"> </head>

  <body>
    <div lang="en" th:replace="/market/fragments/topbar :: topbar"></div>

    <section class="hero-section">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div
              class="single-hero-items set-bg"
              style="background-image: url('/market/img/hero-1.jpg')"
            >
              <div class="container">
                <div class="row">
                  <div class="col-lg-5">
                    <span>Fashion</span>
                    <h1>MP-21 Store</h1>
                    <p>Place you only can find good fashion in.</p>
                    <a href="/product-list" class="primary-btn">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div
              class="single-hero-items set-bg"
              style="background-image: url('/market/img/hero-2.jpg')"
            >
              <div class="container">
                <div class="row">
                  <div class="col-lg-5">
                    <span>Fashion</span>
                    <h1>MP-21 Store</h1>
                    <p>Place you only can find good fashion in.</p>
                    <a href="/product-list" class="primary-btn">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div
              class="single-hero-items set-bg"
              style="background-image: url('/market/img/hero-3.jpg')"
            >
              <div class="container">
                <div class="row">
                  <div class="col-lg-5">
                    <span>Fashion</span>
                    <h1>MP-21 Store</h1>
                    <p>Place you only can find good fashion in.</p>
                    <a href="/product-list" class="primary-btn">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>

    <div class="instagram-photo">
      <div
        class="insta-item set-bg"
        style="background-image: url('/market/img/insta-1.jpg')"
      >
        <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5>
            <a href="#">mp-21 gallery</a>
          </h5>
        </div>
      </div>
      <div
        class="insta-item set-bg"
        style="background-image: url('/market/img/insta-2.jpg')"
      >
        <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5>
            <a href="#">mp-21 gallery</a>
          </h5>
        </div>
      </div>
      <div
        class="insta-item set-bg"
        style="background-image: url('/market/img/insta-3.jpg')"
      >
        <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5>
            <a href="#">mp-21 gallery</a>
          </h5>
        </div>
      </div>
      <div
        class="insta-item set-bg"
        style="background-image: url('/market/img/insta-4.jpg')"
      >
        <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5>
            <a href="#">mp-21 gallery</a>
          </h5>
        </div>
      </div>
      <div
        class="insta-item set-bg"
        style="background-image: url('/market/img/insta-5.jpg')"
      >
        <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5>
            <a href="#">mp-21 gallery</a>
          </h5>
        </div>
      </div>
      <div
        class="insta-item set-bg"
        style="background-image: url('/market/img/insta-6.jpg')"
      >
        <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5>
            <a href="#">mp-21 gallery</a>
          </h5>
        </div>
      </div>
    </div>

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
      <div class="container">
        <div class="logo-item">
          <div class="tablecell-inner">
            <img src="/market/img/logo-carousel/logo-1.png" alt />
          </div>
        </div>
        <div class="logo-item">
          <div class="tablecell-inner">
            <img src="/market/img/logo-carousel/logo-2.png" alt />
          </div>
        </div>
        <div class="logo-item">
          <div class="tablecell-inner">
            <img src="/market/img/logo-carousel/logo-3.png" alt />
          </div>
        </div>
        <div class="logo-item">
          <div class="tablecell-inner">
            <img src="/market/img/logo-carousel/logo-4.png" alt />
          </div>
        </div>
        <div class="logo-item">
          <div class="tablecell-inner">
            <img src="/market/img/logo-carousel/logo-5.png" alt />
          </div>
        </div>
      </div>
    </div>
    <!-- Partner Logo Section End -->

    <footer lang="en" th:replace="/market/fragments/footer :: footer"></footer>
  </body>
</html>
